
  <ion-view view-title="Registrarse">
    <ion-content>
        
        <div ng-show= "error" class="card animate-show">
          <div class="item item-divider assertive-bg">
            Oppppsss! algo salio mal
          </div>
          <div ng-repeat="message in errors"class="item item-text-wrap">
                <ul>
                    <li ng-repeat="detail in message">{{detail}}</li>
                </ul>
          </div>
        </div>
        <div ng-show= "!error" class="card ">
          <div class="item item-divider calm-bg">
            Cuentanos un poco de ti
          </div>
          <div class="item item-text-wrap">
            Estos datos son para brindarte la mejor recomendacion
          </div>    
        </div>
        <form name="registerForm" ng-init="setFormScope(this)" ng-submit="register(client)" role="form" novalidate >
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" name="first_name" id="first_name" class="form-control" ng-model="client.first_name" placeholder="Nombres" required>
            </label>
            <label class="item item-input">
                <input type="text" name="last_name" id="last_name" class="form-control" ng-model="client.last_name" placeholder="Apellidos" required>
            </label>
            <label class="item item-input">
                <input type="text" type="text" name="username" id="username" class="form-control" ng-model="client.username" placeholder="Nombre de usuario" required>
            </label>
            <label class="item item-input">
                <input type="password" name="password" id="password" class="form-control" ng-model="client.password" placeholder="Password" required>
            </label>
            <label class="item item-input">
                <input type="email" name="email" id="email" class="form-control" ng-model="client.email" placeholder="Email" required>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                  Sexo:
                </div>
                <select ng-model="client.sex">
                  <option selected>Masculino</option>
                  <option>Femenino</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="number" name="age" id="age" class="form-control" ng-model="client.age" placeholder="Edad" min="16" max="40" required>
            </label>
        </div>
        <div class="row">
            <button ng-show="!dataLoading"type="submit" ng-disabled="form.$invalid || dataLoading"  class="button button-block button-balanced">
                Registrarse
            </button>   
            
        </div>  
        </form>
        <ion-spinner class="center" ng-if="dataLoading" icon="spiral"></ion-spinner>
    </ion-content>
  </ion-view>
